# Arquivos de Log
logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependências do Node.js
node_modules/
.npm/

# Arquivos de Ambiente (MUITO IMPORTANTE)
.env
.env.*
!.env.example
!.env.test


# Saída de Compilação (Build)
dist/
build/
.out/

# Arquivos de Bancos de Dados Locais (Prisma)
*.db
*.db-journal

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Pastas de IDEs e Editores
.idea/
.vscode/
*.swp
*.swo

# Testes e Cobertura de Código
coverage/
.nyc_output/

# Arquivos de Dumps do MongoDB
dump/
mongodump/
*.bson